{% extends 'SistemaGestao/base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_messages %}

{% block title %}FAQ{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-8 col-sm-6 col-md-6 col-md-offset-3 col-xs-offset-2 col-sm-offset-3">
        <h1 class="text-center">{% trans "Frequently Asked Questions" %}</h1>
        <hr class="star-light">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="intro-text">
            

        </div>
    </div>
</div>
{% endblock %}
